.nav {
    padding: 1%;
    border-bottom: 1px solid gray;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__menu {
        text-align: right;
    }

    &__item {
        display: inline-block;
        &:first-child {
            display:none;
            @include respond-to('sm') {
                display:inline-block;
            }
        }
        a {
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.input-menu {
    border-radius: 30px;
}