.align-center {
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

img {
  max-width: 100%;
}

.tag {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
  display: inline;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.nav {
  padding: 1%;
  border-bottom: 1px solid gray;
}
.nav__logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.nav__menu {
  text-align: right;
}
.nav__item {
  display: inline-block;
}
.nav__item:first-child {
  display: none;
}
@media (min-width: 576px) {
  .nav__item:first-child {
    display: inline-block;
  }
}
.nav__item a {
  text-decoration: none;
  text-transform: uppercase;
}

.input-menu {
  border-radius: 30px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.content {
  margin: 0 auto;
}

.post {
  margin: 0.3125rem;
  cursor: pointer;
}
.post__image {
  height: 150px;
  width: 100%;
}
@media (min-width: 576px) {
  .post__image {
    height: 300px;
  }
}
.post__description {
  padding: 0.3125rem 0.625rem;
}

.side-info {
  display: none;
}
@media (min-width: 576px) {
  .side-info {
    display: block;
  }
}
.side-info__tags, .side-info__about {
  border-bottom: 1px solid gray;
}
.side-info__list {
  padding: 0;
}
.side-info__list-last-post {
  margin-bottom: 3.125rem;
}

.newsletter {
  width: 100%;
  background-color: #f2f4f5;
  clear: both;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.newsletter__title {
  font-size: 1.5rem;
}
.newsletter__group__input, .newsletter__group__button {
  display: inline-block;
  border-width: 0;
  font-size: 0.8125rem;
  padding: 0.3125rem 0.625rem;
}
.newsletter__group__button {
  background-color: coral;
  color: white;
}

/*# sourceMappingURL=main.css.map */
